workflows/google-calendar-read.json
{
  "name": "[DEV] google-calendar-read",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-calendar-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-gcal-read-001",
      "name": "Webhook Jarvis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "google-calendar-read"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst calendarId = body.calendar_id || (typeof process !== 'undefined' && process.env?.CLIENT_CALENDAR_ID) || 'primary';\n\n// date_debut et date_fin sont des YYYY-MM-DD calculés par le LLM\nconst dateDebut = body.date_debut || new Date().toISOString().slice(0, 10);\nconst dateFin   = body.date_fin   || dateDebut;\n\n// Minuit Paris = UTC-2 (été) → on ajoute T00:00:00+02:00 / T23:59:59+02:00\nconst timeMin = dateDebut + 'T00:00:00+02:00';\nconst timeMax = dateFin   + 'T23:59:59+02:00';\n\nreturn [{ json: { dateDebut, dateFin, calendarId, timeMin, timeMax } }];"
      },
      "id": "cfg-gcal-read-002",
      "name": "Calcul plage horaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarId }}",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 20,
        "additionalFields": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "orderBy": "startTime",
          "singleEvents": true
        }
      },
      "id": "gcal-read-003",
      "name": "Google Calendar — Lire événements",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gcalendar-creds",
          "name": "Google Calendar Jarvis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cfg = $('Calcul plage horaire').first().json;\nconst timeMin = new Date(cfg.timeMin);\nconst timeMax = new Date(cfg.timeMax);\n\n// Filtre JS : garde uniquement les events dans la plage (Bug A — filtre n8n parfois ignoré)\nconst events = items\n  .map(i => i.json)\n  .filter(e => {\n    if (!e.id) return false;\n    const start = new Date(e.start?.dateTime || e.start?.date);\n    return start >= timeMin && start <= timeMax;\n  });\n\nreturn [{ json: { ok: true, date_debut: cfg.dateDebut, date_fin: cfg.dateFin, events, count: events.length, fetched_at: new Date().toISOString() } }];"
      },
      "id": "fmt-gcal-read-004",
      "name": "Format réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "resp-gcal-read-005",
      "name": "Répondre Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Jarvis":                    { "main": [[{ "node": "Calcul plage horaire",              "type": "main", "index": 0 }]] },
    "Calcul plage horaire":              { "main": [[{ "node": "Google Calendar — Lire événements", "type": "main", "index": 0 }]] },
    "Google Calendar — Lire événements": { "main": [[{ "node": "Format réponse",                   "type": "main", "index": 0 }]] },
    "Format réponse":                    { "main": [[{ "node": "Répondre Webhook",                  "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["jarvis", "calendar", "google"]
}
