workflows/morning-briefing.json
{
  "name": "[DEV] Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "morning-briefing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "morning-briefing"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "Paris,FR" },
            { "name": "appid", "value": "={{ $env.OPENWEATHER_API_KEY }}" },
            { "name": "units", "value": "metric" },
            { "name": "lang", "value": "fr" }
          ]
        }
      },
      "id": "weather-node",
      "name": "Météo du jour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "filters": { "q": "is:unread newer_than:1d" }
      },
      "id": "gmail-node",
      "name": "Emails non lus",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": { "id": "gmail-creds", "name": "Gmail Jarvis" }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "primary",
        "returnAll": false,
        "limit": 10,
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "calendar-node",
      "name": "Agenda du jour",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [900, 300],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "gcalendar-creds", "name": "Google Calendar Jarvis" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Flux : Météo → Emails → Agenda → Format\nlet weatherNode = {};\ntry { weatherNode = $('Météo du jour').first().json; } catch(e) {}\n\nconst emailItems = $('Emails non lus').all();\nconst calendarItems = $input.all();\n\n// Météo\nlet weatherSummary;\ntry {\n  if (!weatherNode.main) {\n    weatherSummary = 'Météo temporairement indisponible';\n  } else {\n    weatherSummary = `${weatherNode.weather[0].description}, ${Math.round(weatherNode.main.temp)}°C (ressenti ${Math.round(weatherNode.main.feels_like)}°C)`;\n  }\n} catch(e) {\n  weatherSummary = 'Météo indisponible';\n}\n\n// Emails\nlet emailSummary = 'Emails non disponibles.';\nlet emailCount = 0;\ntry {\n  const validEmails = emailItems.filter(e => e.json && !e.json.error);\n  emailCount = validEmails.length;\n  if (emailCount === 0) {\n    emailSummary = 'Aucun email non lu.';\n  } else {\n    emailSummary = validEmails.map(e => {\n      const d = e.json;\n      const fromRaw = d.From || d.from || '';
      const from = fromRaw ? (fromRaw.includes('<') ? fromRaw.split('<')[0].trim() : fromRaw) : 'Inconnu';\n      const snippet = d.snippet || d.bodyPreview || '';\n      return `• ${from}: ${snippet.substring(0, 80)}...`;\n    }).join('\\n');\n  }\n} catch(e) {\n  emailSummary = 'Erreur lecture emails: ' + e.message;\n}\n\n// Agenda\nlet calendarSummary = 'Agenda non disponible.';\nlet eventCount = 0;\ntry {\n  const validEvents = calendarItems.filter(e => e.json && !e.json.error && e.json.summary);\n  eventCount = validEvents.length;\n  if (eventCount === 0) {\n    calendarSummary = \"Aucun événement aujourd'hui.\";\n  } else {\n    calendarSummary = validEvents.map(e => {\n      const ev = e.json;\n      const title = ev.summary || 'Sans titre';\n      const start = ev.start?.dateTime || ev.start?.date || '';\n      let timeStr = '';\n      if (start) {\n        try {\n          const d = new Date(start);\n          timeStr = ev.start?.dateTime\n            ? d.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' })\n            : 'Journée entière';\n        } catch(e) { timeStr = start; }\n      }\n      return `• ${timeStr ? timeStr + ' - ' : ''}${title}`;\n    }).join('\\n');\n  }\n} catch(e) {\n  calendarSummary = 'Erreur lecture agenda: ' + e.message;\n}\n\nconst now = new Date();\nconst greeting = now.getHours() < 12 ? 'Bonjour' : 'Bonsoir';\nconst dateStr = now.toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nreturn [{ json: {\n  briefing: `${greeting} Abo ! Nous sommes le ${dateStr}.\\n\\nMeteo : ${weatherSummary}.\\n\\nAgenda du jour (${eventCount} evenement(s)) :\\n${calendarSummary}\\n\\nEmails importants :\\n${emailSummary}`,\n  weather: weatherSummary,\n  email_count: emailCount,\n  event_count: eventCount\n}}];"
      },
      "id": "format-node",
      "name": "Formater le briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ briefing: $json.briefing, weather: $json.weather, email_count: $json.email_count, event_count: $json.event_count }) }}"
      },
      "id": "respond-node",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Météo du jour", "type": "main", "index": 0 }]] },
    "Météo du jour": { "main": [[{ "node": "Emails non lus", "type": "main", "index": 0 }]] },
    "Emails non lus": { "main": [[{ "node": "Agenda du jour", "type": "main", "index": 0 }]] },
    "Agenda du jour": { "main": [[{ "node": "Formater le briefing", "type": "main", "index": 0 }]] },
    "Formater le briefing": { "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["jarvis", "hackathon", "demo"]
}
