workflows/morning-briefing.json
{
  "name": "[DEV] Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "morning-briefing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "morning-briefing"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "Paris,FR" },
            { "name": "appid", "value": "={{ $env.OPENWEATHER_API_KEY }}" },
            { "name": "units", "value": "metric" },
            { "name": "lang", "value": "fr" }
          ]
        }
      },
      "id": "weather-node",
      "name": "Météo du jour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "filters": { "q": "is:unread newer_than:1d" }
      },
      "id": "gmail-node",
      "name": "Emails non lus",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": { "id": "gmail-creds", "name": "Gmail Jarvis" }
      }
    },
    {
      "parameters": {
        "jsCode": "const weatherNode = $('Météo du jour').first().json;\nconst emailItems = $('Emails non lus').all();\n\nlet weatherSummary;\ntry {\n  if (weatherNode.error || !weatherNode.main) {\n    weatherSummary = 'Météo temporairement indisponible';\n  } else {\n    weatherSummary = `${weatherNode.weather[0].description}, ${Math.round(weatherNode.main.temp)}°C (ressenti ${Math.round(weatherNode.main.feels_like)}°C)`;\n  }\n} catch(e) {\n  weatherSummary = 'Météo indisponible';\n}\n\nlet emailSummary;\ntry {\n  if (!emailItems.length || emailItems[0].json.error) {\n    emailSummary = 'Emails non disponibles pour le moment.';\n  } else {\n    const emails = emailItems.filter(e => !e.json.error);\n    emailSummary = emails.length === 0\n      ? 'Aucun email non lu.'\n      : emails.map(e => {\n          const from = e.json.payload?.headers?.find(h => h.name === 'From')?.value?.split('<')[0]?.trim() || 'Inconnu';\n          return `• ${from}: ${(e.json.snippet || '').substring(0, 80)}...`;\n        }).join('\\n');\n  }\n} catch(e) {\n  emailSummary = 'Erreur lecture emails.';\n}\n\nconst now = new Date();\nconst greeting = now.getHours() < 12 ? 'Bonjour' : 'Bonsoir';\nconst dateStr = now.toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nreturn [{ json: {\n  briefing: `${greeting} Abo ! Nous sommes le ${dateStr}.\\n\\n🌤️ Météo : ${weatherSummary}.\\n\\n📧 Emails importants :\\n${emailSummary}`,\n  weather: weatherSummary,\n  email_count: emailItems.filter(e => !e.json.error).length\n}}];"
      },
      "id": "format-node",
      "name": "Formater le briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ briefing: $json.briefing, weather: $json.weather, email_count: $json.email_count }) }}"
      },
      "id": "respond-node",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Météo du jour", "type": "main", "index": 0 }]] },
    "Météo du jour": { "main": [[{ "node": "Emails non lus", "type": "main", "index": 0 }]] },
    "Emails non lus": { "main": [[{ "node": "Formater le briefing", "type": "main", "index": 0 }]] },
    "Formater le briefing": { "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["jarvis", "hackathon", "demo"]
}
