workflows/outlook-email-classifier-v2.json
{
  "name": "[DEV] outlook-email-classifier-v2",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-v2-001",
      "name": "Démarrage manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, -200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }]
        }
      },
      "id": "schedule-v2-002",
      "name": "Planification 8h Lundi",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, -400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outlook-email-classifier-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-v2-003",
      "name": "Webhook Jarvis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-400, 0],
      "webhookId": "outlook-email-classifier-v2"
    },
    {
      "parameters": {
        "jsCode": "// Même logique que v1 — summaryRecipient depuis env si dispo\nlet limit = 10;\nconst summaryRecipient = (typeof process !== 'undefined' && process.env?.CLIENT_SUMMARY_RECIPIENT) || (typeof process !== 'undefined' && process.env?.SUMMARY_RECIPIENT_EMAIL) || 'ouat.abou34@outlook.fr';\ntry {\n  const allItems = $input.all();\n  for (const item of allItems) {\n    const bodyLimit = item.json?.body?.limit;\n    if (bodyLimit !== undefined && bodyLimit !== null) {\n      const parsed = parseInt(String(bodyLimit), 10);\n      if (!isNaN(parsed)) limit = Math.max(1, Math.min(50, parsed));\n      break;\n    }\n  }\n} catch(e) {}\nreturn [{ json: { maxEmails: limit, summaryRecipient, openAiModel: 'gpt-4o-mini', lookbackHours: 8 } }];"
      },
      "id": "cfg-v2-004",
      "name": "Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, -200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "filters": {
          "folderId": {
            "__rl": true,
            "value": "inbox",
            "mode": "id"
          }
        },
        "returnAll": false,
        "limit": "={{ $('Configuration').first().json.maxEmails }}",
        "additionalFields": {}
      },
      "id": "outlook-v2-005",
      "name": "Outlook — Lire inbox",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [80, -200],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_OAUTH2_CREDENTIAL",
          "name": "Connect_Outlook_ouat_native"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Adapté pour le noeud natif microsoftOutlook (un item = un email)\nconst cfg = $('Configuration').first().json;\nconst allItems = $input.all();\n\n// Guard 1 : alwaysOutputData renvoie {} si 0 email\nif (allItems.length === 1 && !allItems[0].json.id && !allItems[0].json.subject) {\n  return [{ json: { emails: [], skipped: [], no_emails: true, runAt: new Date().toISOString() } }];\n}\n// Guard 2 : erreur noeud natif avec continueOnFail\nif (allItems.length === 1 && allItems[0].json?.error) {\n  return [{ json: { emails: [], skipped: [], no_emails: true, runAt: new Date().toISOString() } }];\n}\n\n// Le noeud natif renvoie 1 item par email (pas items[0].json.value)\nconst messages = allItems.map(i => i.json);\n\nconst excludedSenderFragments = [\n  'no-reply', 'noreply', 'newsletter', 'notification', 'notifications',\n  'marketing', 'facebookmail', 'linkedin', 'microsoft-noreply'\n];\nconst excludedSenderDomains = [\n  'substack.com', 'mailchimp.com', 'sendgrid.net', 'constantcontact.com',\n  'hubspot.com', 'mailerlite.com', 'sendinblue.com', 'klaviyo.com', 'brevo.com'\n];\nconst excludedSubjectFragments = [\n  'newsletter', 'desabonnement', 'désabonnement', 'promotion',\n  'notification automatique', 'alerte automatique', 'absence du bureau', 'automatic reply'\n];\nconst cutoff = new Date(Date.now() - Number(cfg.lookbackHours || 8) * 60 * 60 * 1000);\nconst prepared = [];\nconst skipped = [];\n\nfor (const m of messages) {\n  const categories = Array.isArray(m.categories) ? m.categories : [];\n  // Le noeud natif expose from.emailAddress.address (même format que Graph API)\n  const sender = (m.from?.emailAddress?.address || '').toLowerCase();\n  const senderName = m.from?.emailAddress?.name || '';\n  const subject = m.subject || '(sans objet)';\n  const subjectLower = subject.toLowerCase();\n  const receivedAt = new Date(m.receivedDateTime || 0);\n\n  const alreadyProcessed = categories.includes('IA - Traite') || categories.includes('IA - Exclu');\n  const excludedBySender = excludedSenderFragments.some(x => sender.includes(x)) ||\n    excludedSenderDomains.some(d => sender.endsWith('@' + d) || sender.includes('.' + d));\n  const excludedBySubject = excludedSubjectFragments.some(x => subjectLower.includes(x));\n  const tooOld = Number.isFinite(receivedAt.getTime()) && receivedAt < cutoff;\n\n  if (alreadyProcessed || excludedBySender || excludedBySubject || tooOld) {\n    skipped.push({\n      id: m.id, subject, sender,\n      reason: alreadyProcessed ? 'deja_traite' : excludedBySender ? 'expediteur_exclu' : excludedBySubject ? 'objet_exclu' : 'trop_ancien'\n    });\n    continue;\n  }\n\n  // bodyPreview = snippet court (le noeud natif n'inclut pas le HTML complet par défaut)\n  const bodyText = (m.body?.content || m.bodyPreview || '')\n    .replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 4000);\n\n  prepared.push({\n    id: m.id, subject, sender, senderName,\n    receivedDateTime: m.receivedDateTime,\n    importance: m.importance, categories,\n    hasAttachments: Boolean(m.hasAttachments),\n    webLink: m.webLink, bodyText\n  });\n}\n\nreturn [{ json: { emails: prepared, skipped, no_emails: prepared.length === 0, runAt: new Date().toISOString() } }];"
      },
      "id": "prep-v2-006",
      "name": "Préparer lot emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const MOTS_URGENCE = [\n  'assignation', 'convocation', 'audience', 'jugement', 'ordonnance',\n  'conclusions', 'appel', 'pourvoi', 'signification', 'huissier',\n  'délai', 'delai', 'échéance', 'echeance', 'prescription', 'forclusion',\n  'urgent', 'urgence', 'impératif', 'imperatif', 'immédiat', 'immediat',\n  'mise en demeure', 'relance', 'injonction', 'sommation',\n  'arrêt', 'arret', 'décision', 'decision', 'notification'\n];\nconst source = $input.first().json;\nconst emails_enrichis = (source.emails || []).map(email => {\n  const texte = `${email.subject || ''} ${email.bodyText || ''}`.toLowerCase();\n  const matches = MOTS_URGENCE.filter(kw => texte.includes(kw));\n  return { ...email, keyword_urgence: matches.length > 0, keyword_matches: matches };\n});\nreturn [{ json: { ...source, emails: emails_enrichis, nb_pre_urgents: emails_enrichis.filter(e => e.keyword_urgence).length } }];"
      },
      "id": "kw-v2-007",
      "name": "Pré-détection keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "leftValue": "={{ $json.no_emails }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-v2-008",
      "name": "Emails présents ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, -200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, no_emails: true, processed: 0, skipped: $('Préparer lot emails').first().json.skipped.length, summary: '', summary_sent_to: $('Configuration').first().json.summaryRecipient, urgent_count: 0, workflow_version: 'v2' }) }}",
        "options": {}
      },
      "id": "resp-empty-v2-009",
      "name": "Répondre - Aucun email",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, -400]
    },
    {
      "parameters": {
        "jsCode": "// Construit le prompt complet (system + emails) pour le LLM Chain\nconst emails = $('Pré-détection keywords').first().json.emails || [];\nconst systemPrompt = `Tu classes des emails pour un cabinet d avocat. Reponds uniquement en JSON valide (pas de markdown). N invente pas de faits. Un email peut avoir plusieurs etiquettes. Ne propose jamais un envoi automatique. Les brouillons doivent rester prudents et validables. Si l expediteur est un newsletter, service d abonnement ou email commercial (Substack, Mailchimp, promotions, offres), classe toujours urgence=faible et action=classer.`;\nconst userPrompt = JSON.stringify({\n  consigne: 'Classe chaque email. Champs attendus: id, urgence=haute|moyenne|faible, interlocuteur=client|confrere|juridiction|expert|assureur|notaire|mandant_immobilier|administration|autre|indetermine, action=repondre|lire|relancer|classer|aucune, echeance_detectee=true|false, date_echeance=YYYY-MM-DD ou null, resume=phrase courte, raison_urgence=phrase courte ou vide, brouillon_recommande=true|false, brouillon=texte court ou vide. Ajoute aussi global_summary en 5 lignes maximum.',\n  criteres_urgence: ['date limite proche','audience','convocation','delai','assignation','ordonnance','jugement','conclusions','message juridiction','demande de signature rapide','relance avec delai','termes urgent ou imperatif'],\n  emails\n});\nreturn [{ json: { ...$('Pré-détection keywords').first().json, classificationPrompt: `${systemPrompt}\\n\\n${userPrompt}` } }];"
      },
      "id": "prompt-v2-010",
      "name": "Construire prompt LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "prompt": "={{ $json.classificationPrompt }}"
      },
      "id": "llm-chain-v2-011",
      "name": "Classification LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1280, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.1,
          "responseFormat": "json_object"
        }
      },
      "id": "openai-model-v2-012",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1280, 200],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_API_CREDENTIAL",
          "name": "OpenAI Jarvis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Adapté pour la sortie du chainLlm : $json.text (pas choices[0].message.content)\nconst source = $('Préparer lot emails').first().json;\nconst raw = $input.first().json.text || '{}';\nlet parsed;\ntry {\n  // Extraire JSON si entouré de markdown ```json ... ```\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch(e) {\n  parsed = { emails: [], global_summary: 'Erreur de parsing de la réponse IA. ' + String(e) };\n}\n\nconst originalsById = new Map((source.emails || []).map(e => [e.id, e]));\nconst analyses = (parsed.emails || []).map(a => {\n  const original = originalsById.get(a.id) || {};\n  const categories = new Set(original.categories || []);\n  const urgency = String(a.urgence || 'faible').toLowerCase();\n  const action = String(a.action || 'aucune').toLowerCase();\n  if (urgency === 'haute') categories.add('IA - Urgent');\n  if (action === 'repondre') categories.add('IA - A repondre');\n  if (action === 'relancer') categories.add('IA - Relance');\n  if (action === 'lire') categories.add('IA - A lire');\n  if (action === 'classer') categories.add('IA - A classer');\n  if (a.echeance_detectee) categories.add('IA - Echeance');\n  categories.add('IA - Traite');\n  return { ...original, analyse: a, nextCategories: Array.from(categories) };\n});\n\nconst urgent = analyses.filter(x => x.analyse?.urgence === 'haute');\nconst repondre = analyses.filter(x => x.analyse?.action === 'repondre');\nconst echeances = analyses.filter(x => x.analyse?.echeance_detectee);\nconst drafts = analyses.filter(x => x.analyse?.brouillon_recommande && x.analyse?.brouillon);\n\nfunction line(x) {\n  const a = x.analyse || {};\n  return `• ${x.senderName || x.sender} | ${x.subject || '(sans objet)'} | ${a.resume || ''}${a.raison_urgence ? ' — ' + a.raison_urgence : ''}`;\n}\n\nconst summaryText = [\n  `🤖 Synthèse Outlook V2 (LangChain) — ${new Date().toLocaleString('fr-FR')}`,\n  `Analysés : ${analyses.length} | Ignorés : ${(source.skipped || []).length}`,\n  '',\n  '🚨 Urgents',\n  urgent.length ? urgent.map(line).join('\\n') : '• Aucun email urgent.',\n  '',\n  '📩 À répondre',\n  repondre.length ? repondre.map(line).join('\\n') : '• Aucune réponse prioritaire.',\n  '',\n  '📅 Échéances détectées',\n  echeances.length ? echeances.map(x => `• ${x.analyse.date_echeance || 'date à confirmer'} | ${x.senderName || x.sender} | ${x.subject || '(sans objet)'} | ${x.analyse.resume || ''}`).join('\\n') : '• Aucune échéance.',\n  '',\n  '📝 Brouillons proposés',\n  drafts.length ? drafts.map(x => `• ${x.senderName || x.sender} | ${x.subject || '(sans objet)'}`).join('\\n') : '• Aucun brouillon.',\n  '',\n  '📋 Synthèse générale',\n  parsed.global_summary || '• Rien à signaler.'\n].join('\\n');\n\nconst emails_structured = analyses.map(a => ({\n  id: a.id,\n  from: a.sender || '',\n  from_name: a.senderName || (a.sender || '').split('@')[0],\n  from_email: a.sender || '',\n  subject: a.subject || '(sans objet)',\n  snippet: (a.bodyText || '').slice(0, 300),\n  urgence: a.analyse?.urgence || 'faible',\n  action: a.analyse?.action || 'lire',\n  resume: a.analyse?.resume || '',\n  echeance: a.analyse?.echeance_detectee ? (a.analyse?.date_echeance || null) : null,\n  source: 'outlook'\n}));\n\nreturn [{ json: { analyses, summaryText, processedCount: analyses.length, skippedCount: (source.skipped || []).length, urgentCount: urgent.length, repondreCount: repondre.length, emails_structured } }];"
      },
      "id": "parse-v2-013",
      "name": "Parser analyse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const analyses = $input.first().json.analyses || [];\nreturn analyses.map(x => ({\n  json: {\n    id: x.id,\n    patchUrl: `https://graph.microsoft.com/v1.0/me/messages/${x.id}`,\n    categories: x.nextCategories,\n    subject: x.subject,\n    sender: x.sender\n  }\n}));"
      },
      "id": "build-patch-v2-014",
      "name": "Construire MAJ categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.patchUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { categories: $json.categories } }}",
        "options": {
          "batching": {
            "batch": { "batchSize": 1, "batchInterval": 1500 }
          }
        }
      },
      "id": "patch-cat-v2-015",
      "name": "Graph - Appliquer categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, -200],
      "retryOnFail": true,
      "continueOnFail": true,
      "credentials": {
        "oAuth2Api": {
          "id": "cXwgnsn2JzgIpzFd",
          "name": "Connect_Outlook_ouat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/sendMail",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  message: {\n    subject: '🤖 Synthèse Outlook V2 (LangChain) — Jarvis',\n    body: { contentType: 'Text', content: $('Parser analyse IA').first().json.summaryText },\n    toRecipients: [{ emailAddress: { address: $('Configuration').first().json.summaryRecipient } }]\n  },\n  saveToSentItems: true\n} }}",
        "options": {}
      },
      "id": "send-v2-016",
      "name": "Graph - Envoyer synthese",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0],
      "continueOnFail": true,
      "credentials": {
        "oAuth2Api": {
          "id": "cXwgnsn2JzgIpzFd",
          "name": "Connect_Outlook_ouat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analyses = $('Parser analyse IA').first().json.analyses || [];\nconst drafts = analyses.filter(a => a.analyse?.brouillon_recommande && a.analyse?.brouillon?.trim());\nif (drafts.length === 0) return [];\nreturn drafts.map(a => ({\n  json: {\n    subject: `RE: ${a.subject || ''}`,\n    body: a.analyse.brouillon,\n    to: a.sender || ''\n  }\n}));"
      },
      "id": "drafts-v2-017",
      "name": "Préparer brouillons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  subject: $json.subject,\n  body: { contentType: 'Text', content: $json.body },\n  toRecipients: [{ emailAddress: { address: $json.to } }]\n} }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 500 } }
        }
      },
      "id": "create-draft-v2-018",
      "name": "Graph - Créer brouillon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200],
      "continueOnFail": true,
      "credentials": {
        "oAuth2Api": {
          "id": "cXwgnsn2JzgIpzFd",
          "name": "Connect_Outlook_ouat"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, no_emails: false, processed: $('Parser analyse IA').first().json.processedCount, skipped: $('Parser analyse IA').first().json.skippedCount, summary: $('Parser analyse IA').first().json.summaryText, summary_sent_to: $('Configuration').first().json.summaryRecipient, urgent_count: $('Parser analyse IA').first().json.urgentCount, repondre_count: $('Parser analyse IA').first().json.repondreCount, emails_structured: $('Parser analyse IA').first().json.emails_structured, workflow_version: 'v2' }) }}",
        "options": {}
      },
      "id": "respond-v2-019",
      "name": "Répondre Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 400]
    }
  ],
  "connections": {
    "Démarrage manuel":          { "main": [[{ "node": "Configuration",            "type": "main", "index": 0 }]] },
    "Planification 8h Lundi":    { "main": [[{ "node": "Configuration",            "type": "main", "index": 0 }]] },
    "Webhook Jarvis":            { "main": [[{ "node": "Configuration",            "type": "main", "index": 0 }]] },
    "Configuration":             { "main": [[{ "node": "Outlook — Lire inbox",     "type": "main", "index": 0 }]] },
    "Outlook — Lire inbox":      { "main": [[{ "node": "Préparer lot emails",      "type": "main", "index": 0 }]] },
    "Préparer lot emails":       { "main": [[{ "node": "Pré-détection keywords",   "type": "main", "index": 0 }]] },
    "Pré-détection keywords":    { "main": [[{ "node": "Emails présents ?",        "type": "main", "index": 0 }]] },
    "Emails présents ?": {
      "main": [
        [{ "node": "Répondre - Aucun email", "type": "main", "index": 0 }],
        [{ "node": "Construire prompt LLM",  "type": "main", "index": 0 }]
      ]
    },
    "Construire prompt LLM":     { "main": [[{ "node": "Classification LLM Chain", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model":         { "ai_languageModel": [[{ "node": "Classification LLM Chain", "type": "ai_languageModel", "index": 0 }]] },
    "Classification LLM Chain":  { "main": [[{ "node": "Parser analyse IA",        "type": "main", "index": 0 }]] },
    "Parser analyse IA": {
      "main": [[
        { "node": "Construire MAJ categories", "type": "main", "index": 0 },
        { "node": "Graph - Envoyer synthese",  "type": "main", "index": 0 },
        { "node": "Répondre Webhook",          "type": "main", "index": 0 },
        { "node": "Préparer brouillons",       "type": "main", "index": 0 }
      ]]
    },
    "Construire MAJ categories": { "main": [[{ "node": "Graph - Appliquer categories", "type": "main", "index": 0 }]] },
    "Préparer brouillons":       { "main": [[{ "node": "Graph - Créer brouillon",       "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["jarvis", "outlook", "langchain", "v2"]
}
