workflows/reminders.json
{
  "name": "[DEV] Reminders Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Toutes les 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-656, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reminders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Nouveau rappel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-656, 300],
      "webhookId": "reminders"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst text = String(body.text || '').trim();\nconst due_at = String(body.due_at || '').trim();\nif (!text) return [{ json: { ok: false, error: 'Texte manquant' } }];\nlet due_str = '';\nif (due_at) {\n  try { due_str = new Date(due_at).toLocaleString('fr-FR', { timeZone: 'Europe/Paris' }); } catch(e) { due_str = due_at; }\n}\nconst subject = '[Jarvis] Rappel créé : ' + text.slice(0, 60);\nconst emailBody = 'Bonjour Abo !\\n\\n✅ Ton rappel a bien été créé :\\n\\n' + '📌 ' + text + (due_str ? '\\n⏰ Échéance : ' + due_str : '') + '\\n\\nJe te notifierai quand ce sera l\\'heure.\\n\\nJarvis';\nreturn [{ json: { ok: true, text, due_str, subject, emailBody } }];"
      },
      "id": "format-confirm",
      "name": "Formater confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "ouat.abou34@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "send-confirm",
      "name": "Email confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [-144, 300],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": { "id": "ZO3kLaKLb2hdHVw5", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Rappel enregistré, confirmation email envoyée.', text: $('Formater confirmation').first().json.text, due_str: $('Formater confirmation').first().json.due_str }) }}"
      },
      "id": "respond-webhook",
      "name": "Répondre Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [112, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/reminders/pending",
        "options": {}
      },
      "id": "fetch-due",
      "name": "Rappels dus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-448, 80],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-due",
      "name": "Y a-t-il des rappels ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-224, 80]
    },
    {
      "parameters": {
        "jsCode": "const mailDest = 'ouat.abou34@gmail.com';\nconst due = $input.first().json.due;\nconst lines = due.map(t => {\n  const echeance = t.due_at ? ' (échéance : ' + new Date(t.due_at).toLocaleString('fr-FR', { timeZone: 'Europe/Paris' }) + ')' : '';\n  return '- ' + t.text + echeance;\n});\nconst body = 'Bonjour Abo !\\n\\n⏰ Rappels à traiter maintenant :\\n\\n' + lines.join('\\n') + '\\n\\nJarvis';\nreturn [{ json: { body, subject: '[Jarvis] ⏰ ' + due.length + ' rappel(s) en attente', task_ids: due.map(t => t.id), mailDest } }];"
      },
      "id": "format-email",
      "name": "Formater l'email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.mailDest }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Envoyer email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [224, 0],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": { "id": "ZO3kLaKLb2hdHVw5", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const task_ids = $('Formater l\\'email').first().json.task_ids;\nconst results = [];\nfor (const id of task_ids) {\n  results.push({ json: { id, url: 'http://backend:8000/api/reminders/' + id + '/notified' } });\n}\nreturn results;"
      },
      "id": "prepare-mark",
      "name": "Preparer mark notified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "mark-notified",
      "name": "Marquer notifies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [672, 0],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Toutes les 5 minutes":    { "main": [[{ "node": "Rappels dus",            "type": "main", "index": 0 }]] },
    "Webhook - Nouveau rappel":{ "main": [[{ "node": "Formater confirmation",  "type": "main", "index": 0 }]] },
    "Formater confirmation":   { "main": [[{ "node": "Email confirmation",     "type": "main", "index": 0 }]] },
    "Email confirmation":      { "main": [[{ "node": "Répondre Webhook",       "type": "main", "index": 0 }]] },
    "Rappels dus":             { "main": [[{ "node": "Y a-t-il des rappels ?", "type": "main", "index": 0 }]] },
    "Y a-t-il des rappels ?":  { "main": [
      [{ "node": "Formater l'email",  "type": "main", "index": 0 }],
      []
    ]},
    "Formater l'email":        { "main": [[{ "node": "Envoyer email",          "type": "main", "index": 0 }]] },
    "Envoyer email":           { "main": [[{ "node": "Preparer mark notified", "type": "main", "index": 0 }]] },
    "Preparer mark notified":  { "main": [[{ "node": "Marquer notifies",       "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["jarvis", "reminders"]
}
